@tailwind base;
@tailwind components;
@tailwind utilities;

.minimize-animation {
  animation: fade-out 0.2s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
